.videos-page {
  .video-entry {
    padding: 50px 0;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
    h2 {
      font-weight: lighter;
      font-size: 4rem;
      text-align: center;
      margin-top: 0;
      line-height: 1;
      &.subtitle {
        color: #777;
      }
    }
    .btn {
      display: block;
    }
  }
}