.edit-profile-form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  .form-group {
    margin-bottom: 25px;
  }
  .first-last-name {
    margin-bottom: 20px;
    .form-group {
      margin-bottom: 0;
    }
  }
  input {
    border-radius: 0;
  }
}