.register-login-tabs {
  .form-group {
    margin-bottom: 25px;
  }
  .first-last-name {
    margin-bottom: 20px;
    .form-group {
      margin-bottom: 0;
    }
  }
  input {
    border-radius: 0;
  }

}